@import "../../../colors.less";
@import "../../../spacing.less";

@navWidth: 300px;

.aui-page-header-inner {
    .aui-page-header-main {
        width: @navWidth - 4 * @baseSpacing; // Same width as the sidebar
    }
}

.aui-page-header-actions {
    text-align: initial;
    float: left;
    width: 100%;
}

.aui-page-panel-inner {
    min-height: 1000px;
    
    .aui-page-panel-nav {
        background: @auiBackground;
        padding: @doubleSpacing @baseSpacing;
        width: @navWidth;
        
        .aui-nav-heading {
            text-transform: none;
            font-size: @largerFont;   
        }
    }
}