@import "../../spacing.less";

.resource { 
    h1 {
        margin-bottom: @doubleSpacing * 2;
    }
    
    h2 {
        margin-bottom: @doubleSpacing;
        
        .aui-lozenge {
            vertical-align: middle;
            margin: 0 @halfSpacing / 2;
        }
    }
    
    .resource-section {
        margin-top: @doubleSpacing;
    }
    
    table.aui > thead > tr > th, table.aui > tbody > tr > th, table.aui > thead > tr > td, table.aui > tbody > tr > td, table.aui > tfoot > tr > td {
        padding-left: 0;
    }
    
    table.aui {
        margin: 0;
    }
}