@import "../../../spacing.less";
@import "../../../colors.less";

.resource-description {
    border-radius: @borderRadius;
    border: 1px solid @descriptionBorderColor;
    background-color: @auiBackground;
    padding: @baseSpacing;
    margin: @baseSpacing;
    max-width: 100%;
    overflow: auto;
}