@import "../../../mixins.less";
@import "../../../spacing.less";

.resource-parameters {
    .no-description{
        .noDescription();
    }     
    
    .parameter-required:before {
        content: '*';
        color: red;
        padding-left: @halfSpacing;
    }
    
    .parameter-type .type-value {
        .spaceAfterIfNotLast();
    }
}