<!DOCTYPE html>
<html>

<head>
    <title>REST API Documentation</title>
    <!-- AUI core -->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.2/css/aui.css" media="all">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.2/css/aui-experimental.css" media="all">

    <style>
        .error-panel {
            padding: 200px 0;
        }
        .error-panel h2, .error-panel p {
                text-align: center;
            }
        .error-panel p {
            color: #707070;
        }
    </style>
</head>

<body class="aui-page aui-page-focused aui-page-focused-large">
    <div id="page">
        <section id="content" role="main" tabindex="-1">
            <div class="aui-page-panel content-body">
                <div class="aui-page-panel-inner error-panel">
                    <h2>Oops! Couldn't find that.</h2>
                    <p>Sorry about that.</p>
                </div>
            </div>
        </section>
        <footer id="footer" role="contentinfo">
            <section class="footer-body">
                <ul>
                    <li>Copyright &copy; 2015 <a href="http://www.atlassian.com" target="_blank">Atlassian</a>. All rights reserved</li>
                    <li><a href="http://atlassian.com/company/trademark" target="_blank">Trademark</a></li>
                    <li><a href="http://atlassian.com/company/privacy" target="_blank">Privacy</a></li>
                </ul>
                <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
            </section>
        </footer>
    </div>
</body>

</html>