@import "../../colors.less";
@import "../../spacing.less";

@fontSize: 14px;
@fontWeight: 300;
@searchWidth: 700px;

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
    width: @searchWidth;
    height: @baseSpacing;
    padding: @baseSpacing;
    font-weight: @fontWeight;
    font-size: @fontSize;
    border: 1px solid @secondaryBorderColor;
    border-radius: @borderRadius;
  
    background-image: url('/images/search-icon.svg');
    background-repeat:no-repeat;
    background-position: 98%;
    background-size: 1.7 * @baseSpacing;
}

/**
 * Chrome outlines all focused boxes. Looks really ugly when using suggestions.
 */
.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 31px;
  width: @searchWidth + 2 * @baseSpacing;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid @secondaryBorderColor;
  background-color: @backgroundColor;
  font-weight: @fontWeight;
  font-size: @fontSize;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: @baseSpacing 2*@baseSpacing;
  
  .title {
      font-weight: bold;
      color: #4E72AD;
      padding-right: @baseSpacing
  }
  
  .description {
      color: @optionalTextColor;
  }
}

.react-autosuggest__suggestion--focused {
  background-color: @auiFocusColor;
}