@import "../../spacing.less";

.api-details {
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: @baseSpacing;
    
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: @baseSpacing;
        width: 100%;
    }
}