@optionalTextColor: #707070;
@auiBackground: #f5f5f5;
@auiFocusColor: #EDF3F9;
@descriptionBorderColor: #CBCBCB;
@borderColor: #aaa;
@secondaryBorderColor: #ccc;
@focusColor: #ddd;
@backgroundColor: #fff;
@codeBackground: #e9e9e9;

@arrowColor: #979797;
