@import "./colors.less";
@import "./spacing.less";

.codeBlock() {
    background-color: @codeBackground;
    border-radius: @borderRadius;
    padding: @baseSpacing;
    font-size: 12px;
    overflow: auto;
    position: relative;
}

.noDescription() {
    color: @optionalTextColor;
    font-style: italic;
}

.spaceAfterIfNotLast() {
    &:after {
        content: ' ';
    }        
    &:last-child:after {
        content: ''; 
    }
}